<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlipIt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron text-center">
        <h1><%= qs %></h1>
        <h5>Not yet satisfied?</h5>
        <form action="/">
            <button type="submit" class="btn btn-primary">Try Again</button>
        </form>
    </div>
</body>
</html>